<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <title>coderank</title>
  <!-- <link rel="icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/assets/css/mobile-first.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/assets/css/enhanced.css" media="screen  and (min-width: 48em)" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
</head>
<body>
  {{{ content }}}
<!-- <script src="/assets/js/main.js"></script> -->
</body>
</html>
